@model QLVuKhiTrangBi.Models.TrangBi

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Cập nhật thông tin trang bị</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form asp-action="Edit" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row">
                                <div class="col-sm-3"></div>
                                <label asp-for="TenTrangBi" class="col-sm-2 col-form-label">Tên trang bị</label>
                                <div class="col-sm-4">
                                    <input asp-for="TenTrangBi" class="form-control" name="tenTB" id="tenTB" asp-readonly="true" />
                                </div>
                                <span asp-validation-for="TenTrangBi" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3"></div>
                                <label asp-for="DonViTinh" class="col-sm-2 col-form-label">Đơn vị tính</label>
                                <div class="col-sm-4">
                                    <input asp-for="DonViTinh" class="form-control" name="dvt" id="dvt" asp-readonly="true" />
                                </div>
                                <span asp-validation-for="DonViTinh" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3"></div>
                                <label asp-for="SoLuong" class="col-sm-2 col-form-label">Số lượng</label>
                                <div class="col-sm-4">
                                    <input asp-for="SoLuong" class="form-control" name="soluong" asp-readonly="true" />
                                </div>
                                <span asp-validation-for="SoLuong" class="text-danger"></span>
                            </div>
                      
                            <div class="form-group row">
                                <div class="col-sm-3"></div>
                                <label asp-for="KhongDungDuoc" class="col-sm-2 col-form-label">Số lượng không dùng được</label>
                                <div class="col-sm-4">
                                    <input asp-for="KhongDungDuoc" class="form-control" name="slkhongdung" />
                                </div>
                                <span asp-validation-for="SoLuong" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3"></div>
                                <label asp-for="MaLoaiTb" class="col-sm-2 col-form-label">Loại trang bị</label>
                                <div class="col-sm-4">
                                    <input asp-for="MaLoaiTb" class="form-control" name="MaLoaiTb" />
                                </div>
                            </div>
                       
                            <div class="form-group row">
                                <div class="col-sm-4"></div>
                                <input type="submit" value="Xác nhận" class="btn btn-primary col-sm-1" />
                                <div class="col-sm-1"></div>
                                <input type="reset" value="Hủy bỏ" class="btn btn-danger col-sm-1" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="allTB"></div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#allTB').load('/QLTrangBi/DSTB');
        });
    </script>
}