@model IEnumerable<QLVuKhiTrangBi.Models.Yeucaumuonvktb>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="allDonDeNghiDuyet"></div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#allDonDeNghiDuyet').load('/DonDeNghi/DSDNTroLy');
        });
    </script>
    }


