@model QLVuKhiTrangBi.Models.LoaiSung

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Cập nhật thông tin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="MaLoaiSung" />
           
            <div class="form-group">
                <label asp-for="TenLoaiSung" class="control-label">Tên loại súng</label>
                <input asp-for="TenLoaiSung" class="form-control" />
                <span asp-validation-for="TenLoaiSung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Xác nhận" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div id="allLoaiSung"></div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#allLoaiSung').load('/QLLoaiSung/DSLoaiSung');
        });
    </script>
}