@{
    ViewData["Title"] = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12" id="accordion">
            <div class="card card-primary card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                    <div class="card-header">
                        <h2 class="card-title w-100">
                            <b>Bàn giao Vũ khí, trang bị, vật chất canh gác</b>
                        </h2>
                        <div class="row">
                            <span style="color:black" class="col-3">Ca gác ngày: @ViewBag.ngay.ToString("dd/MM/yyyy")</span>
                            <div class="col-6"></div>
                            <span style="color:black; " class="col-3"><b>Phân đội canh gác: @ViewBag.PhanDoiGac</b></span>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Mượn vũ khí, trang bị, vật chất canh gác</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Số súng</th>
                                    <th>Bao xe</th>
                                    <th>Áo mưa</th>
                                    <th>Xà cột, NKCG</th>
                                    <th colspan="2">Xuất kho (..giờ...ngày..tháng...năm)</th>
                                   @* <th>Người nhận cH/c  ... Người giao</th>
                                    <th>Nhập kho (..giờ...ngày..tháng...năm)</th>
                                    <th>Người giao cH/c  ... Người nhận</th>
                                    <th>Ghi chú</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>s</td>
                                    <td>bc</td>
                                    <td>am</td>
                                    <td>xc</td>
                                    <td>
                                        <div>
                                            Người nhận
                                        </div>
                                        <div>
                                            Người giao
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            Người nhận
                                        </div>
                                        <div>
                                            Người giao
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>s</td>
                                    <td>bc</td>
                                    <td>am</td>
                                    <td>xc</td>
                                    <td>
                                        <div>
                                            <b> Người nhận</b>
                                        </div>
                                        <div>
                                           <b>
                                                Người giao
                                           </b> 
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            Người nhận
                                        </div>
                                        <div>
                                            Người giao
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                       </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
